Repository sh06/vue3-admin-template: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.html": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix", "eslint --fix", "prettier --write"],
  "*.{css, scss}": ["stylelint --fix", "prettier --write"],
  "*.{js,jsx,cjs,mjs,ts,cts,mts}": ["eslint --fix", "prettier --write"]
}

feat: 封装了Axios
  .env
  .env.development
  .env.production
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/utils/http/index.ts
  tsconfig.app.json
  types/env.d.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: 将 API 进行统一管理
  src/App.vue
  src/api/auth/index.ts
  src/api/auth/type.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: 开发环境使用自定义代理
  .env.development
  .env.production
  .env.testing
  src/api/auth/index.ts
  src/styles/variables.scss
  tsconfig.app.json
  vite.config.ts
Due: prettier --write, eslint --fix

build: git不在包含.env.development文件，添加一个.env.development.example
  .env.development
  .env.development.example
  .gitignore
Due: none

feat: 使用模版路由，创建模版使用路由，并分割路由到多文件
  .eslintrc.js
  .lintstagedrc.json
  src/App.vue
  src/router/index.ts
  src/router/modules/dashboard.ts
  src/router/modules/error.ts
  src/router/modules/login.ts
  src/views/AboutView.vue
  src/views/HomeView.vue
  src/views/dashboard/index.vue
  src/views/error/403.vue
  src/views/error/404.vue
  src/views/error/500.vue
  src/views/login/index.vue
Due: stylelint --fix, prettier --write, eslint --fix

fix: 修复auto-imports.d.ts重新生成的代码，总是被prettier格式化
  types/auto-imports.d.ts
Due: prettier --write, eslint --fix

refactor: 重写拆分路由
  src/App.vue
  src/router/index.ts
  src/router/modules/dashboard.ts
  src/router/modules/error.ts
  src/router/modules/except.ts
  src/router/modules/home.ts
  src/router/modules/login.ts
Due: stylelint --fix, prettier --write, eslint --fix

refactor: 对拆分路由进行重构，可以自动加入新路由文件的路由
  src/router/index.ts
  src/router/modules/error.ts
  src/router/modules/except.ts
  src/router/modules/home.ts
Due: prettier --write, eslint --fix

feat: 对路由定义数据格式
  .eslintrc.js
  src/router/index.ts
  src/router/modules/error.ts
  src/router/modules/except.ts
  src/router/modules/home.ts
  types/router.d.ts
Due: prettier --write, eslint --fix

feat: 编写登录页面并请求登录接口
  .prettierignore
  src/App.vue
  src/views/login/index.vue
  types/auto-imports.d.ts
  types/components.d.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: 用户信息写入Pinia，登陆成功跳转
  src/api/auth/index.ts
  src/api/auth/type.ts
  src/main.ts
  src/stores/index.ts
  src/stores/modules/user.ts
  src/views/login/index.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat: 定义全局拦截http请求错误
  .env.test
  package.json
  src/api/auth/type.ts
  src/stores/modules/user.ts
  src/utils/auth.ts
  src/utils/http/index.ts
  src/views/login/index.vue
  types/auto-imports.d.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: 请求拦截器为接口增加token，路由前置导航守卫对是否有token进行页面跳转
  src/router/index.ts
  src/utils/auth.ts
  src/utils/http/index.ts
  src/views/login/index.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat: 编写后台框架loyout，点击菜单可以跳转到响应页面，菜单根据接口返回生成
  .eslintrc.js
  .stylelintrc.json
  package.json
  pnpm-lock.yaml
  src/api/auth/index.ts
  src/api/auth/type.ts
  src/assets/svg/menu_roles.svg
  src/assets/svg/menu_user.svg
  src/layout/index.vue
  src/layout/sidebar/menuItem.vue
  src/router/modules/error.ts
  src/router/modules/home.ts
  src/router/modules/permission.ts
  src/router/modules/user.ts
  src/setting.ts
  src/stores/modules/user.ts
  src/styles/variables.scss
  src/utils/auth.ts
  src/utils/http/index.ts
  src/views/permission/menu.vue
  src/views/permission/role.vue
  src/views/user/backend.vue
  src/views/user/customer.vue
  types/auto-imports.d.ts
  types/components.d.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: 补全个人信息与修改密码的路由和页面
  src/layout/index.vue
  src/router/modules/home.ts
  src/views/home/dashboard.vue
  src/views/home/profile.vue
  src/views/home/resetPassword.vue
Due: stylelint --fix, prettier --write, eslint --fix

feat: 拆分顶栏和页面刷新菜单栏变化问题
  src/layout/header/topbar.vue
  src/layout/index.vue
  src/layout/sidebar/menuItem.vue
  types/components.d.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: 在顶栏增加面包屑，同时解决侧边栏在不是菜单栏的页面自动折叠关闭的问题
  src/layout/header/breadcrumb.vue
  src/layout/header/topbar.vue
  src/layout/index.vue
  src/layout/sidebar/menuItem.vue
  src/router/modules/account.ts
  src/router/modules/home.ts
  src/router/modules/permission.ts
  src/router/modules/user.ts
  src/views/account/profile.vue
  src/views/account/resetPassword.vue
  types/components.d.ts
Due: stylelint --fix, prettier --write, eslint --fix

fix: 修复刷新页面导致菜单错误问题，修复三级菜单在layout正确展示问题
  src/layout/index.vue
  src/router/modules/home.ts
  src/router/modules/permission.ts
  src/router/modules/user.ts
  src/views/permission/index.vue
  src/views/permission/menu/add.vue
  src/views/permission/menu/index.vue
  src/views/permission/role/index.vue
  types/router.d.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: 增加刷新页面按钮与全屏按钮功能
  src/layout/component/appMain.vue
  src/layout/component/header/breadcrumb.vue
  src/layout/component/header/topbar.vue
  src/layout/component/sidebar/logo.vue
  src/layout/component/sidebar/menuItem.vue
  src/layout/index.vue
  src/router/modules/account.ts
  src/router/modules/permission.ts
  src/setting.ts
  types/components.d.ts
Due: stylelint --fix, prettier --write, eslint --fix

feat: 增加虚拟进度条nprogress
  package.json
  pnpm-lock.yaml
  src/plugins/nprogress/index.ts
  src/router/index.ts
Due: prettier --write, eslint --fix

feat: 增加路由鉴权
  src/router/index.ts
  src/router/modules/permission.ts
  src/router/modules/user.ts
  types/router.d.ts
Due: prettier --write, eslint --fix

build: 设置打包到不同的文件夹
  .env.production
  .env.test
  package.json
  types/components.d.ts
  vite.config.ts
Due: prettier --write, eslint --fix
